

#navbar {
  height:5vh;
  width:100vw;
  position:fixed;
  z-index:1;
  background-color:black;
  color:white;
  text-align:center;
  top:0px;
}
.footer {
  width:100vw;
  position:fixed;
  background-color:black;
  top:95vh;
  height:5vh;

}
.footer h5{
  color:white;
  text-align:center;
}
#navbar h2 {
  margin:0px;
}
#map {
  z-index:1;
}

#listView{
  width:20vw;
  height:90vh;
  background-color:maroon;
  top:5vh;
  position:absolute;
  overflow: scroll;

}


#list {
    list-style-type:none;
    padding:0px;
}
#list button{
  background-color:maroon;
  border:none;
  cursor:pointer;
}
#list-entry {
color:white;
  text-align:left;
  padding:10px;
}
#menu {
  padding:5px;
  position:relative;
  z-index:1;
height:20px;
width:20px;
  float:left;
}

a:focus, input:focus, div:focus, section:focus {
  border:2px solid orange;
  box-shadow:0 0 10px white;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
